.slide-container{
    width: 300vw;
    transform: translateX(0);
    cursor:grab;
    height: 300px;
}

.slide-box{
    width: 100vw;    
    height: 80vh;
    float: left;
}

.slide-box img{
    width: 100%;
}